@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #1a1a1a;
  --text-color-dark: #ffffff;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color-light);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.header.dark-mode {
  background-color: var(--bg-color-dark);
}

.logo {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}

.theme-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--text-color-light);
  color: var(--bg-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .theme-button {
  background-color: var(--text-color-dark);
  color: var(--bg-color-dark);
}

.content {
  padding: 10px;
}

.container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.perfil {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.about-me {
  max-width: 60%;
  text-align: center;
}
