* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #fff;
    background-image: url("/images/bg.jpeg");
    background-repeat: repeat;
    background-position: center center;
    background-position: fixed;
    background-size: cover;
    height: 90vh;
}

.voltar {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.center {
    list-style-type: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.center li {
    align-items: center;
    background-color: #061d3e;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;
}